@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&family=Roboto+Slab:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#e66465, #9198e5);
}

section {
    width:100%;
    height:95vh;
    background-image: url(img/background01.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* ♣ style ta3 nav ♣ */


a, li, button {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 14px;
    color: #f1faee;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color:#A9CCE3;
    height: 80px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    padding: 0px 5%;
}


.logo {
    cursor: pointer;
    margin-right: auto;
    width: 100px;
    height: 90px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3 ease 0s;
}

.nav-links li a:hover {
    transition: all 0.3 ease 0s;
    color: #1d3557;
}


button {
    padding: 9px 25px;
    margin-left: 20px;
    background-color: rgba(29,53,87,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover {
    background-color: rgba(29,53,87,0.8);
}

button:active{
    transform: scale(1.1);
}

/*first body part about me*/

.text-container p:nth-child(1) {
    font-family: 'Source Code Pro', monospace ;
    font-weight: bold;
    color: #264653;
    font-size: 22px;
}

.text-container p:nth-child(2){
    font-family: 'Source Code Pro', monospace ;
    font-weight: bold;
    letter-spacing: 1px;
    color: #264653;
    font-size: 60px;
}

.text-container p:nth-child(3){
    font-family: 'Source Code Pro', monospace ;
    color: #264653;
    font-size: 30px;
    line-height: 30px;
}

.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}

.text-container {
    position: absolute;
    left:13%;
    top: 42%;
    transform: translate(-13%,-42%);
}


.logo-2{
    height: 256px;
    position: absolute;
    bottom: 30%;
    left: 70%;
    transform: translateX(-70%);
}

.about-container {
    width: 80%;
    height: 330px;
    background-color:#A9CCE3;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img {
    height:250px ;
}

.about-text{
    width: 550px;
}

.about-text p:nth-child(1) {
    color: #403e3e;
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 40px;
}

.about-text p:nth-child(2) {
    color: #3e3d3d;
    font-size: 13px;
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
    line-height: 5px;
    line-height: 20px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4) {
    color: #7e7d7d;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

.about-text button {
    width: 130px;
    height: 40px;
    color: #FFFFFF;
    outline: none;
    border: none;
    margin: 20px;
    font-family: 'Roboto Slab', serif;
}

.services{
    height: 600px;
    background-color: #A9CCE3;
    padding: 2% 10% 0px 10%;
}

.services-text p:nth-child(1) {
    font-family:  'Roboto Slab', serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: 50px;
}

.services-text p:nth-child(2) {
    font-family:  'Roboto Slab', serif;
    font-weight: bold;
    color: #3e3e3d;
    font-size: 15px;
    line-height: 15px;
}


.services-text p:nth-child(3) {
    font-family: 'Roboto Slab', serif;
    color: #7e7d7d;
}

.services-text{
    width: 500px;
    margin: 50px 0px;
}

.box-1, .box-2, .box-3{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-container {
    display: flex;
    justify-content: space-between;
}

.box-1 {
    background-image: url(img/hacker.png);
}

.box-2 {
    background-image: url(img/schoolgirl.png);
}

.box-3 {
    background-image: url(img/seo.png);
}

.box-1 span,
.box-2 span,
.box-3 span {
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin: 20px;
}

.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
    font-size: 23px;
    line-height: 0px;
}

.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    font-family: 'Roboto Slab', serif;
    text-align: center;
    width: 230px;
    margin: 30px 0px 20px 0px;
    color: #8f8f8f8f;
}

.box-1 button,
.box-2 button,
.box-3 button{
    width: 130px;
    height: 40px;
    border-radius: 5px;
}

.contact-me{
    width: 100%;
    height: 280px;
    background-image:url(img/lolk.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me p{
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    border-bottom: 2px solid #FFFFFF;
    margin: 10px;
}

.contact-me button{
    width: 200px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
}

footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    font-family: 'Roboto Slab', serif;
}

footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 30px;
}

footer p:nth-child(2){
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}

.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons {
    display: flex;
}

.copyright{
    color: #565555;
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.social-icons i{
    color: #000000;
}

.social-icons a:hover,
.a-social-b a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.social-icons a:hover i,
.a-social-b a:hover i{
    color: #FFFFFF;
    transition: all ease 0.5s;
}

.a-social-b{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.a-social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #FFFFFF;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.a-social-b i{
    color: #2b2b2b; ;
    font-size: 20px;
}





