.App {
  text-align: center;
  display : flex;
  flex-direction: row;
  width : 95%;
  height : 100%;
  margin-left: 38px;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
}


main{

  width : 75%;
  padding: 20px 30px 20px 30px;

}

header {

  display : flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:  50px;
}

.filter{

  width : 150px;
  height : 20px;
}



/* product*/





